* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  background: black;
  color: white;
}

:root {
  --montserratFont: "Montserrat", sans-serif;
  --interFont: "Inter", sans-serif;
}

@media (max-width: 600px) {
  .samuelDamilare {
    display: flex;
  }
  .samuelDamilare aside .sideBar {
    z-index: 1;
    width: 350px;
    background: #262626;
    height: 100vh;
    position: fixed;
    transition: 0.5;
    -webkit-transition: 0.5;
    -moz-transition: 0.5;
    -ms-transition: 0.5;
    -o-transition: 0.5;
  }
  .samuelDamilare aside .sideBar .container .detail {
    padding: 1.5rem;
    margin-top: 8rem;
  }
  .samuelDamilare aside .sideBar .container .detail .image .img {
    width: 8rem;
    height: 8rem;
    background: gold;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }
  .samuelDamilare aside .sideBar .container .detail .details {
    margin-top: 10px;
    font-family: var(--montserratFont);
    font-size: 18px;
  }
  .samuelDamilare aside .sideBar .container .detail .details .gitHubUsername {
    margin-top: 5px;
    font-size: 15px;
  }
  .samuelDamilare aside .sideBar .container .detail .details .bio {
    margin-top: 10px;
  }
  .samuelDamilare aside .sideBar .container .detail .details .socialIcon {
    margin-top: 20px;
  }
  .samuelDamilare aside .sideBar .container .detail .details .socialIcon div {
    margin-top: 10px;
  }
  .samuelDamilare aside .sideBar .container .close {
    position: absolute;
    top: 0;
    background: white;
    color: black;
    font-size: 18px;
    padding: 10px 15px;
    margin: 10px;
    right: 10px;
    cursor: pointer;
    font-family: var(--interFont);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }
  .samuelDamilare main .container {
    padding: 1.5rem;
  }
  .samuelDamilare main .container .works .toggle {
    padding: 10px 15px;
    background: white;
    color: black;
    width: 1rem;
    font-size: 18px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }
  .samuelDamilare main .container .works .workdone {
    margin-top: 2rem;
  }
  .samuelDamilare main .container .works .workdone h1 {
    font-family: var(--interFont);
    letter-spacing: 10px;
  }
  .samuelDamilare main .container .works .workdone .projects {
    margin-top: 2rem;
  }
  .samuelDamilare main .container .works .workdone .projects .project {
    padding: 20px;
    background: #262626;
    margin: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }
  .samuelDamilare main .container .works .workdone .projects .project .projectName {
    font-family: var(--montserratFont);
    font-size: 25px;
  }
  .samuelDamilare main .container .works .workdone .projects .project .projectDiscription {
    margin-top: 10px;
    font-family: var(--interFont);
  }
  .samuelDamilare main .container .works .workdone .projects .project .repoIcon {
    margin-top: 10px;
    display: flex;
    font-family: var(--interFont);
  }
  .samuelDamilare main .container .works .workdone .projects .project .repoIcon p:nth-child(2) {
    margin-left: 10px;
  }
}/*# sourceMappingURL=style.css.map */