* {
  margin: 0;
  padding: 0;
}

.light {
  --InterFont: "Inter", sans-serif;
  --MontserratFont: "Montserrat", sans-serif;
  --color-1: #e4e6e7;
  --color-2: #e9ecef;
  --color-3: #8da9c4;
  --color-4: rgba(80, 82, 110, 0.884);
}

.dark {
  --InterFont: "Inter", sans-serif;
  --MontserratFont: "Montserrat", sans-serif;
  --color-1: #1E1F26;
  --color-2: #292c33;
  --color-3: rgb(39, 40, 42);
  --color-4: rgba(186, 186, 202, 0.527);
}

body {
  background: var(--color-1);
  color: var(--color-4);
  box-sizing: border-box;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.wrapper #sideBar {
  /* Track */
  /* Handle */
  /* Handle on hover */
}
.wrapper #sideBar .sideBar {
  overflow-y: scroll;
  background: var(--color-2);
  height: 100%;
  width: 350px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  transition: 0.5s;
  padding-top: 60px;
}
.wrapper #sideBar .sideBar .container {
  margin: 2rem;
  margin-top: 30%;
}
.wrapper #sideBar .sideBar .container .image {
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.wrapper #sideBar .sideBar .container .image img {
  width: 100%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.wrapper #sideBar .sideBar .container .sidebarContent {
  margin-top: 1rem;
}
.wrapper #sideBar .sideBar .container .sidebarContent span {
  display: block;
}
.wrapper #sideBar .sideBar .container .sidebarContent .name {
  font-size: 25px;
  font-family: var(--MontserratFont);
}
.wrapper #sideBar .sideBar .container .sidebarContent .gitHubUsername {
  margin-top: 3px;
  font-size: 15px;
  font-family: var(--MontserratFont);
}
.wrapper #sideBar .sideBar .container .sidebarContent .bio {
  margin-top: 20px;
  font-family: var(--InterFont);
  font-size: 15px;
}
.wrapper #sideBar .sideBar .container .sidebarContent .socialIcon {
  margin-top: 20px;
}
.wrapper #sideBar .sideBar .container .sidebarContent .socialIcon span {
  margin-top: 10px;
  font-size: 15px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.wrapper #sideBar .sideBar .container .sidebarContent .socialIcon span a {
  color: var(--color-4);
  font-family: var(--InterFont);
  text-decoration: none;
  margin-left: 10px;
}
.wrapper #sideBar ::-webkit-scrollbar {
  width: 2px;
}
.wrapper #sideBar ::-webkit-scrollbar-track {
  background: transparent;
}
.wrapper #sideBar ::-webkit-scrollbar-thumb {
  background: transparent;
}
.wrapper #sideBar ::-webkit-scrollbar-thumb:hover {
  background: transparent;
}
.wrapper #sideBar .sidebarActive {
  width: 0;
  overflow-x: hidden;
}
.wrapper #sideBar .toggle {
  position: fixed;
  top: 0rem;
  margin-left: 22.5rem;
  margin-top: 0.5rem;
  cursor: pointer;
  background: var(--color-4);
  color: var(--color-2);
  width: 0.8rem;
  padding: 10px 15px;
  border-radius: 2px;
  transition: 0.5s;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.wrapper #sideBar .toggleActive {
  margin-left: 1rem;
}
.wrapper main {
  margin-left: 23rem;
  margin-top: 5rem;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  overflow: hidden;
}
.wrapper main .container {
  padding-right: 1rem;
}
.wrapper main .container .theme {
  color: var(--secondaryColor);
  position: absolute;
  right: 2em;
  top: 1rem;
  font-size: 18px;
  cursor: pointer;
}
.wrapper main .container .themeActive {
  color: var(--mainColor);
  transition: 1s;
  transform: rotate(-20deg);
  -webkit-transform: rotate(-20deg);
  -moz-transform: rotate(-20deg);
  -ms-transform: rotate(-20deg);
  -o-transform: rotate(-20deg);
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}
.wrapper main .container h1 {
  font-family: var(--InterFont);
  letter-spacing: 10px;
  margin-left: 1rem;
}
.wrapper main .container .projects {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.wrapper main .container .projects .project {
  cursor: pointer;
  padding: 10px;
  color: var(--color-4);
  background: var(--color-2);
  margin: 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.wrapper main .container .projects .project .projectName {
  font-family: var(--InterFont);
  font-size: 20px;
}
.wrapper main .container .projects .project .projectDiscription {
  margin-top: 10px;
  font-family: var(--MontserratFont);
  font-size: 15px;
}
.wrapper main .container .projects .project .icons {
  margin-top: 10px;
  font-family: var(--MontserratFont);
  font-size: 12px;
}
.wrapper main .container .projects .project .icons span:nth-child(2) {
  margin-left: 10px;
}
.wrapper main .container .projects .project:hover {
  transform: translateY(-5px);
  -webkit-transform: translateY(-5px);
  -moz-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  -o-transform: translateY(-5px);
}
.wrapper main .container .projects .projectActive {
  color: rgb(66, 66, 66);
}
.wrapper .mainActive {
  margin-left: 1rem;
}

#popUp {
  width: 100%;
  height: 100vh;
  background: rgba(31, 31, 31, 0.6235294118);
  position: fixed;
  top: 0;
  z-index: 1;
  display: none;
  overflow-y: scroll;
}
#popUp .container {
  margin-top: 2rem;
}
#popUp .container .model {
  width: 30rem;
  margin-left: auto;
  margin-right: auto;
  background: var(--color-2);
  padding: 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
#popUp .container .model .modelHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#popUp .container .model .modelHeader h1 {
  font-family: var(--InterFont);
  letter-spacing: 10px;
}
#popUp .container .model .modelHeader .closeModel {
  font-size: 20px;
  font-family: var(--MontserratFont);
  font-weight: bold;
  cursor: pointer;
}
#popUp .container .model .repositoryName {
  margin-top: 10px;
  font-family: var(--MontserratFont);
  font-size: 15px;
}
#popUp .container .model .repositoryDetail {
  margin-top: 10px;
}
#popUp .container .model .tabContainer {
  margin-top: 1rem;
  background: rgba(139, 139, 139, 0.2274509804);
  font-family: var(--MontserratFont);
  padding: 10px;
  padding-left: 0;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}
#popUp .container .model .tabContainer .tabContents {
  margin-top: 10px;
}
#popUp .container .model .tabContainer .tabContents .tab_content {
  padding: 10px;
}
#popUp .container .model .tabContainer .tabContents .tab_content label {
  margin-top: 10px;
  font-size: 14px;
}
#popUp .container .model .tabContainer .tabContents .tab_content input {
  padding: 10px;
  width: 95%;
  border: 0;
  outline: 0;
  margin-left: 0.5rem;
  margin-bottom: 10px;
  margin-top: 5px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}
#popUp .container .model .ProgrammingLanguages {
  background: rgba(139, 139, 139, 0.2274509804);
  border-radius: 0px 3px 3px 0px;
  -webkit-border-radius: 0px 3px 3px 0px;
  -moz-border-radius: 0px 3px 3px 0px;
  -ms-border-radius: 0px 3px 3px 0px;
  -o-border-radius: 0px 3px 3px 0px;
}
#popUp .container .model .ProgrammingLanguages .languageContainer {
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-family: var(--InterFont);
  font-weight: bold;
}
#popUp .container .model .view button {
  cursor: pointer;
  margin-top: 10px;
  padding: 10px;
  background: green;
  color: white;
  border: 0;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

@media (max-width: 680px) {
  #popUp .container .model {
    width: 90%;
  }
  #popUp .container .model .tabContainer .tabContents .tab_content input {
    width: 93%;
  }
}/*# sourceMappingURL=style.css.map */